[Unit]
Description=demo
After=syslog.target

[Service]
User=demo
Group=demo
ExecStart=/usr/bin/java -jar {{ artifact_dest_path }}/{{ artifact_target_name }}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target